<div>
  <div>
    <a href="/">Express Movies</a>
    <a href="/movies">Films</a>
    <a href="/movie-search">Rechercher</a>
    <span id="connection-link"><a href="/login">Connexion</a></span>
  </div>
</div>
