<!DOCTYPE html>

<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <div class="central">
      <% include ./partials/header %>
      <h1>Voilà de super films</h1>
      <div>Vous n'aimerez plus Netfliw</div>
    </div>

    <% include ./partials/footer %>
  </body>
</html>
